<form class="card" [formGroup]="form" (ngSubmit)="submitFormLogin()">
  <h2>Войти в панель администратора</h2>
  <div [ngClass]="{invalid: email.touched && email.invalid}"
       class="form-control">
    <label for="email">Email:</label>
    <input id="email" type="email" formControlName="email">
    <div *ngIf="email.touched && email.invalid && email.errors"
         class="validation">
      <small *ngIf="email.hasError('required')">
        Поле email не должно быть пустым
      </small>
      <small *ngIf="email.hasError('email')">
        Поле email должно корректным
      </small>
    </div>
  </div>

  <div [ngClass]="{invalid: password.touched && password.invalid}"
       class="form-control">
    <label for="password">Пароль:</label>
    <input id="password" type="password" formControlName="password">
    <div *ngIf="password.touched && password.invalid && password.errors"
         class="validation">
      <small *ngIf="password.hasError('required')">
        Поле password не может быть пустым
      </small>
      <small *ngIf="password.hasError('minlength')">
        Поле password не может быть менее
        {{password.getError('minlength')['requiredLength']}}
        символов. Сейчас
        {{password.getError('minlength')['actualLength']}}
      </small>
    </div>
  </div>

  <button [disabled]="form.invalid"
          type="submit"
          class="btn btn-primary">
    Войти
  </button>
</form>
