<form class="card" [formGroup]="form" (ngSubmit)="submitFormLogin()">
  <h2>Войти в панель администратора</h2>

  <div *ngIf="auth.error$ | async as error" class="alert alert-danger" >
    {{error}}
  </div>

  <div [ngClass]="{invalid: getFormControl('email').touched && getFormControl('email').invalid}"
       class="form-control">
    <label for="email">Email:</label>
    <input id="email" type="email" formControlName="email">
    <div *ngIf="getFormControl('email').touched && getFormControl('email').invalid && getFormControl('email').errors"
         class="validation">
      <small *ngIf="getFormControl('email').hasError('required')">
        Поле email не должно быть пустым
      </small>
      <small *ngIf="getFormControl('email').hasError('email')">
        Поле email должно быть корректным
      </small>
    </div>
  </div>

  <div [ngClass]="{invalid: getFormControl('password').touched && getFormControl('password').invalid}"
       class="form-control">
    <label for="password">Пароль:</label>
    <input id="password" type="password" formControlName="password">
    <div *ngIf="getFormControl('password').touched && getFormControl('password').invalid && getFormControl('password').errors"
         class="validation">
      <small *ngIf="getFormControl('password').hasError('required')">
        Поле password не может быть пустым
      </small>
      <small *ngIf="getFormControl('password').hasError('minlength')">
        Поле password не может быть менее
        {{getFormControl('password').getError('minlength')['requiredLength']}}
        символов. Сейчас
        {{getFormControl('password').getError('minlength')['actualLength']}}
      </small>
    </div>
  </div>

  <button [disabled]="form.invalid || submitted"
          type="submit"
          class="btn btn-primary">
    Войти
  </button>
</form>
